@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {

    /* Colors Primary */
    --blue-500: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /* Colors Neutral */
    /* Light Theme */
    --gray-50: hsl(0, 0%, 98%);
    --purple-300: hsl(234, 39%, 85%);
    --gray-300: hsl(233, 11%, 84%);
    --gray-600: hsl(236, 9%, 61%);
    --navy-850: hsl(235, 19%, 35%);

    /* Dark Theme */
    --navy-950: hsl(235, 21%, 11%);
    --navy-900: hsl(235, 24%, 19%);
    --purple-300: hsl(234, 39%, 85%);
    --purple-100-hover: hsl(236, 33%, 92%);
    --purple-600: hsl(235, 16%, 43%);
    --purple-700: hsl(233, 14%, 35%);
    --purple-800: hsl(237, 14%, 26%);
    --gra-600: hsl(236, 9%, 61%);

    /* body copy */
    --font-size: 18px;

    /* Fonts */
    --font-weight: 400;
    --font-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: var(--font-size);
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight);
    font-style: normal;
}

